.App {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #185771fa;
    height: 60px;
    width: 100%;
}

ul#menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul#menu li {
    float: left;
    padding: 20px 0 0 0;
    height: 60px;
    box-sizing: border-box;
}

li.site_name {
    width: 60%;
    text-align: left;
}

li.link {
    width: 10%;
    text-align: center;
}

li.site_name a {
    color: white;
    text-decoration: none;
    padding-left: 30%;
}

li.link a {
    color: white;
    text-decoration: none;
}

li.site_name a:hover, li.link a:hover {
    color: cadetblue;
}

.content {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    padding-top: 10%;
}

body {
    width: auto;
    background-image: url("images/bg6.jpg");
    background-size: cover;
    font-family: sans-serif;
}

.intro {
    width: 60%;
}

.subintro {
    width: 40%;
    float: right;
    margin-top: 30px;
}

.subdesc {
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.333em;
    margin: 0.12em 0 0 0;
    color: #000000a6;
    width: 77.777777778%;
    font-family: "Times New Roman", Times, serif;
}

.headline {
    font-size: 6em;
    font-weight: 400;
    color: black;
    letter-spacing: -0.042em;
    line-height: 0.94em;
    padding-left: 20%;
    font-family: "Times New Roman", Times, serif;
    margin: 0px;
}

.tagline {
    padding-left: 20%;
    font-size: 1.7em;
    font-weight: 200;
    line-height: 1.333em;
    margin: 0.12em 0 0 0;
    color: #000000a6;
    width: 77.777777778%;
    font-family: "Times New Roman", Times, serif;
}

div.subdesc a {
    color: #185771fa;
    text-decoration: none;
}

div.subdesc a:hover {
    color: #07222ded;
}

footer {
    background-color: #185771fa;
    bottom: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 6px;
}

footer a {
    color: white;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
    .header {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        text-align: center;
    }

    li.link {
        text-align: center;
        width: auto;
    }

    .content {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        text-align: center;
        padding-top: 20%;
    }

    .footer {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        text-align: center;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
